/*
* reveal.js element overrides
*/
.reveal {
    p {
        color: #fff;
    }

    ul {
        list-style-type: square;
        color: #fff;
    }

    a {
        &:hover img {
            background: none;
            box-shadow: none;
            border-color: none;
        }
    }

    pre code {
        max-height: 500px;
    }

    section img {
        border: 0px;
        box-shadow: none;
        background: none;
    }
}