.reveal {
    p {
        color: #fff;
    }
    section {
        img {
            border: 0px;
            box-shadow: none;
            background: none;
        }

        .dependencies-logo-container img {
            width: 12%;
            display: inline-block;
            vertical-align: middle;
            margin: 10px;
        }
    }

    pre code {
        max-height: 500px;
    }

    a.link-text {
        color: #93a1a1;
    }

    .node-section {
        p {
            color: #80bd01;
        }
    }
}
